
entrypoint = "main.py"
modules = ["python-3.11"]

[unitTest]
language = "python3"

[deployment]
run = ["python3 main.py"]

[[ports]]
localPort = 8080
externalPort = 80

[nix]

[agent]
expertMode = true

